/* You can add global styles to this file, and also import other style files */
:root {
  --orange-color: #ff5722;
  --terquoise-color: #4613C4;
  --lime-color: #96EF0D;
  --bg-color: linear-gradient(135deg, var(--terquoise-color) 0%, #1a0a5c 100%);
}

.hero {
    background-image: url('/assets/background.png');
    height: 70vh;
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.glowing-btn {
    width: 100%;
  background: linear-gradient(135deg, var(--mov-color), #451c449d);
  border: none;
  border-radius: 12px;
  padding: 0.7rem;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.glowing-btn:hover:not(:disabled) {
  transform: translateY(-2px);
  box-shadow: 0 10px 25px rgba(29, 28, 068, 0.3),
    0 0 20px rgba(29, 28, 68, 0.2);
}